[submodule "test/libs/bats-assert"]
	path = test/libs/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "tests/libs/bats-assert"]
	path = tests/libs/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "tests/libs/bats-file"]
	path = tests/libs/bats-file
	url = https://github.com/bats-core/bats-file.git
[submodule "tests/libs/bats-core"]
	path = tests/libs/bats-core
	url = https://github.com/bats-core/bats-core.git
